

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>个人信息调查问卷</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   

    <script src="https://staticfile.qnssl.com/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript">
        !window.jQuery && document.write('<script src="/js/mobile/jquery-1.10.1.min.js"><\/script>');
    </script>

    <script src="../static/js/hintinfo.js" type="text/javascript"></script>
    <script src="../static/js/jqmobo2.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../static/css/jqmobo.css" />
    <style type="text/css">
       .label{
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            color: #000;
            text-align: left;
            font-size: 100%;
        }
    </style>
</head>
<body>


    <form id="form1" method="post" action="http://www.sojump.com/handler/processjq.ashx?curid=2711763">


        <div id="toptitle" >
            <h1 class="htitle">
                个人信息调查问卷</h1>
        </div>

        <div id="divContent">
            <div id="divDesc" class="formfield">
                <span class="description">
                    <p>您好：</p>
                    <p>       我们是电子商务专业的学生．想通过这份调查问卷了解关于百合网网站的调查问卷，感谢你在百忙之中阅读并完成这份问卷，也谢谢你们对我们的支持！</p></span>
                </div>

                <div id="divQuestion">
                    <fieldset class='fieldset' style='' id='fieldset1' >
                        <div class='field ui-field-contain' id='div1' req='1' topic='1'  data-role='fieldcontain' type='3'>
                            <div class='field-label'>1. 你的性别：<span class='req'>*</span></div>
                            <div class='ui-controlgroup'>
                                <div class='ui-radio'>
                                    <span class='jqradiowrapper'><input type='radio' value='1' id='q1_1' name='q1' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span>
                                    <div class='label'  for='q1_1'>男</div>
                                </div>
                                <div class='ui-radio'>
                                    <span class='jqradiowrapper'><input type='radio' value='1' id='q1_1' name='q1' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span>
                                    <div class='label'  for='q1_2'>女</div>
                                </div>
                            </div>
                        </div>

                        <div class='field ui-field-contain' id='div2' req='1' topic='2'  data-role='fieldcontain' type='3'>
                            <div class='field-label'>2. 你的年龄：<span class='req'>*</span></div>
                            <div class='ui-controlgroup'>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='1' id='q2_1' name='q2' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q2_1'>18以下</div></div>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='2' id='q2_2' name='q2' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q2_2'>18-25</div></div>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='3' id='q2_3' name='q2' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q2_3'>26-30</div></div>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='4' id='q2_4' name='q2' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q2_4'>31-35</div></div>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='5' id='q2_5' name='q2' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q2_5'>36-40</div></div>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='6' id='q2_6' name='q2' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q2_6'>40以上</div></div>

                            </div>
                            <div class='errorMessage'></div>
                        </div>

                        <div class='field ui-field-contain' id='div3' req='1' topic='3'  data-role='fieldcontain' type='3'>
                            <div class='field-label'>3. 你的职业：<span class='req'>*</span></div>

                            <div class='ui-controlgroup'>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='1' id='q3_1' name='q3' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q3_1'>学生</div></div>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='2' id='q3_2' name='q3' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q3_2'>公务员</div></div>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='3' id='q3_3' name='q3' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q3_3'>服务业工作者</div></div>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='4' id='q3_4' name='q3' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q3_4'>自由职业</div></div>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='5' id='q3_5' name='q3' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q3_5'>其他</div></div>
                            </div>
                            <div class='errorMessage'></div>
                        </div>

                        <div class='field ui-field-contain' id='div4' req='1' topic='4'  data-role='fieldcontain' type='3'>
                            <div class='field-label'>4. 你的月收入是：<span class='req'>*</span> </div>

                            <div class='ui-controlgroup'>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='1' id='q4_1' name='q4' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q4_1'>1000以下</div></div>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='2' id='q4_2' name='q4' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q4_2'>1000-3000</div></div>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='3' id='q4_3' name='q4' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q4_3'>3000-5000</div></div>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='4' id='q4_4' name='q4' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q4_4'>5000-10000</div></div>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='5' id='q4_5' name='q4' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q4_5'>10000以上</div></div>
                            </div>
                            <div class='errorMessage'></div>
                        </div>

                        <div class='field ui-field-contain' id='div5' req='1' topic='5'  data-role='fieldcontain' type='3'>
                            <div class='field-label'>5. 你的教育背景：<span class='req'>*</span> </div>
                            <div class='ui-controlgroup'>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='1' id='q5_1' name='q5' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q5_1'>高中</div></div>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='2' id='q5_2' name='q5' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q5_2'>大专</div></div>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='3' id='q5_3' name='q5' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q5_3'>本科</div></div>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='4' id='q5_4' name='q5' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q5_4'>研究生</div></div>
                                <div class='ui-radio'><span class='jqradiowrapper'><input type='radio' value='5' id='q5_5' name='q5' style='display:none;'/><a  class='jqradio' href='javascript:;'></a></span><div class='label'  for='q5_5'>博士</div></div>
                            </div>
                            <div class='errorMessage'></div>
                        </div>
                    </fieldset>
                </div>
                <div id="divMatrixRel" style="position: absolute; display: none; width: 80%; margin: 0 10%;"
                class="ui-input-text">
                <input type="text" placeholder="请注明..." id="matrixinput" style="min-height: 2em;
                width: 100%; padding: 0.3em 0.6em;" />
            </div>
            <div class="shopcart" id="shopcart" style="display:none;">
            </div>
            <div class="footer">
                <div class="ValError">
                </div>
                <div id="divSubmit" style="padding: 10px; display:none;">
                    <div id="tdCode" style="display: none;padding-bottom:15px;">
                        <table>
                            <tr>
                                <td class="ui-input-text nofocus">
                                    <input id="yucinput" size="14" maxlength="10" type="text" name="yucinput" />
                                </td>
                                <td>
                                    <div id="divCaptcha" style="display: none;">
                                        <img alt="验证码" title="看不清吗？点击可以刷新" captchaid="" instanceid="">
                                    </div>

                                </td>
                                <td>
                                    &nbsp;&nbsp;<img id="imgCode" alt="验证码" title="看不清吗？点击可以刷新" style="vertical-align: bottom;
                                    cursor: pointer; display: none;" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <a id="ctlNext" href="javascript:;" class="button blue" >
                        提交</a>
                        <div style="margin:0px 0 10px; padding-top:10px;">
                            <a href="/urlreport.aspx?url=2711763" style="float: right;color:#aaa;font-size:13px;" class="reportto">
                                举报</a>
                                <div style="clear: both;">
                                </div>
                            </div>
                        </div>

                        <div id='divMaxTime' style="display: none; background: #f5faf2;  color: #7c7c7c; font-size: 18px; height: 42px;
                        left: 0; line-height: 40px; position: fixed; text-align: center; top: 0; width: 100%;
                        z-index: 100;">
                        <span id="spanTimeTip">本页剩余作答时间</span>&nbsp;<span style="color: Red; font-size: 16px; display: inline-block;"
                        id='spanMaxTime'></span>
                    </div>

                </div>

            </div>


            <input type="hidden" value="1" id="action" name="action" />
            <input type="hidden" value="2017/7/27 14:41:21" id="starttime" name="starttime" />
            <input type="hidden" value="directphone" id="source" name="source" />

        </form>
        <a id='lnkCity' style="display: none;"></a>
        <a href="javascript:;" class="scrolltop" style="display:none;"></a>
        <script type="text/javascript">
            var activityId=2711763;
            var isYdb=0;
            var isPub=0;
            var cqType=1;
            var isDingDing=0;
            var ddcorpid="";
            var sojumpParm='';
            var isKaoShi=0;
            var lastTopic=0;
            var Password = "";
            var guid = "";
            var udsid=0;
            var langVer=0;
            var cProvince="";
            var cCity="";
            var cIp="";
            var divTip=document.getElementById("divTip");
            var displayPrevPage="none";
            var inviteid='';
            var access_token="";
            var openid = "";
            var wxUserId = ""; 
            var isQQLogin=0;
            var wxthird=0;
            var hashb=0;
            var sjUser='';
            var outuser='';
            var outsign='';
            var sourceurl = '';
            var sourcename="";
            var isSimple='';
            var jiFenBao=0;var cAlipayAccount="";
            var isRunning=1;
            var SJBack='';var jiFen="0";
            var ItemDicData="";
            var rndnum="2243797646.19763427";
            var totalPage=1;
            var totalCut=0;
            var cepingCandidate="";
            var cpid="";
            var needSaveJoin=0;
            var isChuangGuan=0;
            var qBeginDate="1379341204320";
            var randomMode=0;
            var fisrtLoadTime=new Date().getTime();
            var notFinishTip="http://passport.fanli.com/mark?c=nstzk4f7xc;6瓶莫斯利安酸奶";
            var isVip=0;


            var needHBAlert=0;
            if(needHBAlert){
             if(needHBAlert==-1)
                alert("请注意：此问卷红"+"包已被之前参与的用户领取完");
            else if(needHBAlert==-2)
             alert("请注意：抽中红"+"包后答卷还需要发布者审核，通过审核后才能发放红"+"包！");
         else if(needHBAlert==-3)
             alert("提示：只有通过微信作答才能抽取红"+"包");
         else
            alert("请注意：每个参与者填完问卷后有1/" + needHBAlert + "的概率抽中红"+"包");
    }
    var needAwardAlert=0;
    if(needAwardAlert){
        if(needAwardAlert<0)
            alert("请注意：此问卷奖品已被之前参与的用户领取完");
        else if(needAwardAlert==999)
            alert("请注意：此问卷平均每天低于1人抽中奖品");
        else if(needAwardAlert%1000==0)
            alert("请注意：此问卷平均每天会有" + (needAwardAlert/1000) + "人抽中奖品");
        else
            alert("请注意：每个参与者填完问卷后有1/" + needAwardAlert + "的概率抽中奖品");
    }
</script>


<script type="text/javascript">
    var needAvoidCrack=0;
    var tdCode="tdCode";
    var imgCode = $("#imgCode")[0];
    var submit_text = $("#yucinput")[0];
    var tCode = $("#"+tdCode)[0];
    var hasTouPiao=0;
</script>

<script src="/js/fastclick.js?v=3" type="text/javascript"></script> 
<script>
    $(function() {  
        if(window.FastClick) FastClick.attach(document.body);  
    });  
</script>




<div style="display:none;"><script src="https://s6.cnzz.com/z_stat.php?id=4478442&web_id=4478442" language="JavaScript"></script></div>
<script>
  $(function(){
      if (window._czc) {

          var evvtype="免费版";if(isVip)evvtype="企业版";
          _czc.push(["_trackEvent", "移动端JQ", evvtype, cqType]);
      }
  });
</script>

</body>
</html>
