<!DOCTYPE html>

<html>

<head>
	<title>ricoh print</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="static/js/dingtalk.js"></script>
    <script  type="text/javascript">
     console.info("start");
     console.info(dd.ua);

   dd.ready(function(res){
  /*{
      authorizedAPIList: ['device.notification.alert'], //已授权API列表
      unauthorizedAPIList: [''], //未授权API列表
    }*/
   // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
   console.info("onSuccess");
   document.getElementById("content").innerHTML="onSuccess"
   login()
 });

     dd.error(function(error){

  /*{
      errorCode: 1001, //错误码
      errorMessage: '', //错误信息
    }*/
  // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开调试窗口的 console查看，也可以在返回的res参数中查看。
  document.getElementById("content").innerHTML=JSON.stringify(error)
  console.error("onFail");
});
     var d = new Date();
     var n = d.getTime(); 
     dd.config({
    agentId: '110479463', // 必填，微应用ID
    corpId: 'ding3005d2d7b3298ae135c2f4657eb6378f',//必填，企业ID
    timeStamp: '1499226049', // 必填，生成签名的时间戳
    nonceStr: 'abcdef', // 必填，生成签名的随机串
    signature: 'f185c692dd8a2ea6cfd6598ddaf9770152749027', // 必填，签名
    jsApiList: ['runtime.info','runtime.permission.requestAuthCode','biz.util.uploadAttachment','biz.user.get'] // 必填，需要使用的jsapi列表
  });
     var code 
     var filedata
    var login = function(){
        dd.runtime.permission.requestAuthCode({
        corpId: "ding3005d2d7b3298ae135c2f4657eb6378f", //企业ID
        onSuccess: function(result) {
        /*{
            code: 'hYLK98jkf0m' //string authCode
          }*/
          console.info(result);
          code = result.code
          document.getElementById("content").innerHTML=JSON.stringify(result)
          uploadfiletoding()
          // getUser()
        },
        onFail : function(err) {
          console.error(err);
        }

      })
    }

    var getUser=function(){
      dd.biz.user.get({
        onSuccess : function(result) {
          document.getElementById("content").innerHTML=JSON.stringify(result)
        },
        onFail : function(err) {
          document.getElementById("content").innerHTML="upoad faile:"+JSON.stringify(err)
        }
      })
    };
    //save file 
    var uploadfiletoding=function(){
      dd.biz.util.uploadAttachment({
        // custom 474329585
        // company 468916638
    image:{multiple:true,compress:false,max:9,spaceId: "468916638"},
    space:{corpId:"ding3005d2d7b3298ae135c2f4657eb6378f",spaceId:"468916638",isCopy:1 , max:9},
    file:{spaceId:"468916638",max:1},
    types:["photo","camera","file","space"],
    onSuccess : function(result) {
         //onSuccess将在文件上传成功之后调用
        /*
       {
          type:'', // 用户选择了哪种文件类型 ，image（图片）、file（手机文件）、space（钉盘文件）
          data: [
             {
               spaceId: "232323",
               fileId: "DzzzzzzNqZY",
               fileName: "审批流程.docx",
               fileSize: 1024,
               fileType: "docx"
            },
            {
               spaceId: "232323",
               fileId: "DzzzzzzNqZY",
               fileName: "审批流程1.pdf",
               fileSize: 1024,
               fileType: "pdf"
            },
            {
               spaceId: "232323",
               fileId: "DzzzzzzNqZY",
               fileName: "审批流程3.pptx",
               fileSize: 1024,
               fileType: "pptx"
             }                                                                                                                                                                                                                                                                                                                                                                
          ]
 
       }
        */
        document.getElementById("content").innerHTML=JSON.stringify(result)
    },
    onFail : function(err) {
      document.getElementById("content").innerHTML="upoad faile:"+JSON.stringify(err)
    }
});
    }

          var preview = function(){
       dd.biz.cspace.preview({
        corpId:"dingf8b3508f3073b265",
        spaceId:"13557022",
        fileId:"11452819",
        fileName:"钉盘快速入门.pdf",
        fileSize:1024,
        fileType:"pdf",
        onSuccess: function() {
        	console.info("onSuccess");
          document.getElementById('content').innerHTML="success"
            //无，直接在弹窗页面显示文件详细信息
          },
          onFail: function(err) {
           console.error("onFail");
           document.getElementById('content').innerHTML="fail"
         /*{
            errorCode: 1001, //错误码
            errorMessage: '', //错误信息
          }*/
        }
      });
     }
   </script>
</head>

<body >
	<div id="content">
    ddddddddddddddd
  </div>
</body>

</html>