<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.ricoh.ssdk.iccardsample"
    android:versionCode="4"
    android:versionName="1.03.00" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <uses-permission android:name="jp.co.ricoh.isdk.sdkservice.common.SdkService.APP_CMD_PERMISSION" />
    <uses-permission android:name="jp.co.ricoh.isdk.sdkservice.common.SdkService.APP_EVENT_PERMISSION" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <meta-data
            android:name="productId"
            android:value="1679844352" />
        
        <meta-data 
            android:name="jp.co.ricoh.ssdk.iccd.PIN_AVAILABLE" 
            android:value="true" />
        
        <activity
            android:name=".app.MainActivity"
            android:label="@string/app_name"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale|uiMode|layoutDirection|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
